@use '../themes/defaultTheme' as *;
@use '../util/mixins' as *;
@use '../util/variables' as *;

.users{
    @include flex-center;
    @include center-auto;
    width: 1100px;
    flex-wrap: wrap;
    border: 1px solid $grey-4;
    gap: 10px;
    padding: 10px;
    border-radius: $radius;
    li{
        text-align: center;
        width: 150px;
        
        img{
            @include box(110px);
            object-fit: cover;
            box-shadow: $light-shadow;
        }
    }
}