html,
body {
  font-family: "Epilogue", sans-serif;
  background-color: #fff;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.226),
      rgba(0, 0, 0, 0.178)
    ),
    url("");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.rv-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5;
  background-color: rgba(0, 0, 0, 0.37);
}

body {
  margin: 0;
  padding: 0;
}
.rv-title {
  font-size: rem;
  justify-content: right;
  position: relative;
  margin: auto;
  color: black;
  left: 200px;
  font-size: 2.5rem;
}

.logo {
  position: absolute;
}
.rv-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.rv-links li {
  list-style: none;
  font-size: 2rem;
}

.rv-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}

ul {
  justify-content: center;
}

.rv-links {
  margin: 0.8rem;
  position: relative;
  right: 80px;
}

.home-h2 {
  font-size: large;
  text-align: center;
}

.img-container1 {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.first-image-text {
  text-align: center;
}
