//dark shades of the primary color
$primary-0: hsl(155, 80, 21%);
$primary-1: hsl(155, 80, 29%);
$primary-2: hsl(155, 80, 37%);
$primary-3: hsl(155, 80, 45%);
$primary-4: hsl(155, 80, 52%);
$primary-5: hsl(155, 80, 60%);
$primary-6: hsl(155, 80, 67%);
$primary-7: hsl(155, 80, 74%);
$primary-8: hsl(155, 80, 81%);
$primary-9: hsl(155, 80, 88%);



$secondary-0: hsl(275, 66, 21%);
$secondary-1: hsl(275, 66, 29%);
$secondary-2: hsl(275, 66, 37%);
$secondary-3: hsl(275, 66, 45%);
$secondary-4: hsl(275, 66, 52%);
$secondary-5: hsl(275, 66, 60%);
$secondary-6: hsl(275, 66, 67%);
$secondary-7: hsl(275, 66, 74%);
$secondary-8: hsl(275, 66, 81%);
$secondary-9: hsl(275, 66, 88%);

$gray-0: hsl(170, 1, 21%);
$gray-1: hsl(170, 1, 29%);
$gray-2: hsl(170, 1, 37%);
$gray-3: hsl(170, 1, 45%);
$gray-4: hsl(170, 1, 52%);
$gray-5: hsl(170, 1, 60%);
$gray-6: hsl(170, 1, 67%);
$gray-7: hsl(170, 1, 74%);
$gray-8: hsl(170, 1, 81%);
$gray-9: hsl(170, 1, 88%);

$white: #fff;
$black: #fff;
$red-dark: hsl(0, 66, 44%);
$red-light: hsl(0, 66, 66);
$green-dark: hsl(100, 66, 44%);
$green-light: hsl(100, 66, 66);
